.bodyContainer {
  margin: 25px 3vw;
  display: flex;
  flex-direction: row;
}

.columnContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 10px;
}

.speakEngineSelection {
  max-width: 300px;
}

@media (max-width: 700px) {
  .bodyContainer {
    flex-direction: column;
  }
}
